<div class="main-section">
  <main class="main">
    <div class="f8-area">
      <h1 class="search-title fw-600">キーワードから検索する</h1>
      <div class="search-area ">
        <%= form_tag('/knowledges/search', method: :get, class: "search-area dis-flx") do %>
          <input class="search-input" name="keyword" type="text" value=""></input>
          <input class="search-submit" title="検索" type="submit"></input>
        <% end %>
      </div>
      <div class="search-error-message dis-no">
        <h2 class="error-message">
          キーワードを入力してください
        </h2>
      </div>
    </div>
    <div class="f8-area">
      <h1 class="post-title fw-600">新しく投稿する</h1>
      <div class="post-area ">
        <%= form_for @knowledge do |f| %>
          <div class="post-area-title">
            <%= f.text_field :title, placeholder: "タイトル", class: "knowledge-title dis-blk" %>
          </div>
          <div class="post-area-text">
            <%= f.text_area :text, placeholder: "テキスト", class: "knowledge-text dis-blk" %>
          </div>
          <div class="post-submit">
            <%= f.submit value: "投稿", class: "post-submit-btn dis-blk" %>
          </div>
        <% end %>
      </div>
      <div class="post-error-message dis-n">
      <h2 class="error-message">
        タイトル・テキストを入力してください
      </div>
    </div>
    <div class="posted-slide-area f8-area dis-no"></div>
    <div class="2week-study-area f8-area">
      <h2 class="two-week-studies-title fw-600">過去１週間以内に登録・学習した知識の復習をします</h2>
      <%= link_to '学習を始める', twoweekstudies_path, class: 'two-week-studies-link dis-blk' %>
    </div>
    <div class="tag-study-area f8-area">
    </div>
    </div>
  </main>
</div>