<!DOCTYPE html>
<html>
  <head>
    <title>Reley</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
    <meta name=”format-detection” content=”telephone=no,address=no,email=no”>
  </head>
  <body>
    <header class="header dis-flx jsfy-sb">
      <div class="logo-area">
        <a href="/">
          <%= image_tag 'logo4.png', class: 'logo' %>
        </a>
      </div>
      <ul class="menu-area dis-flx jsfy-sb">
        <li class="menu">
          <a href="#" class="menu-link dis-blk">マイページ</a>
        </li>
        <li class="menu">
          <a href="#" class="menu-link dis-blk">ログアウト</a>
        </li>
        <li class="menu">
          <a href="#" class="menu-link dis-blk">寄　　付</a>
        </li>
      </ul>
    </header>
    <%= bootstrap_flash %>
    <%= yield %>
    <footer class="footer">
    </footer>
  </body>
</html>
