<!DOCTYPE html>
<html>
  <head>
  　<meta charset="UTF-8">
  　<meta name=”format-detection” content=”telephone=no,address=no,email=no”>
  　<meta name=”viewport” content=”width=device-width,initial-scale=1.0″>

    <title>Reley</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
